/* MAIN */
main #vert-clair a {
    color: #fff;
    background-color: #30744c;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
}

/* SMARTPHONES */
@media screen and (max-width:576px) {
    #vert-clair {
        font-size: 70%;
    }
}